---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/cards/card-common.astro";
import Table from "@/components/tables/table-overview.astro";
---

<Layout>
  <h1 class="text-3xl">Overview</h1>
  <p class="text-muted-foreground">Basic Statistics of Al-Qur'an.</p>

  <div class="max-w-lg">
    <Card title="Basic Stats" description="General Information of Al-Qur'an">
      <Table />
    </Card>
  </div>
</Layout>
